<div class="main-header">
	<div class="main-header_content">
		<div class="main-header_content_esseu-name">
			<p>Федеральное государственное бюджетное образовательное учреждение высшего образования</p>
			<h1>Восточно-сибирский государственный университет технологий и управления</h1>
		</div>
		<img src="/themes//custom/esstu/assets/images/esstu_librarty.png" class="esstu-library">
		<div class="main-logo-block">
			<div class="main-logo">
				<div class="main-logo_filter"></div>
				<img src="/themes/custom/esstu/assets/images/essutm_logo.png">
			</div>
		</div>
	</div>
</div>