<div class="pinned-sections-wrapper">
	<a href="#" class="publications-type-heading"><h2>Закреплённое</h2></a>
	<div class="pinned-sections-block">
		<a href="#" class="pinned-section">
               <img src="/themes/custom/esstu/assets/images/examples/pinned-1.jpg" alt="">
			<span>Всё для поступления во ВСГУТУ</span>
		</a>
		<a href="#" class="pinned-section">
               <img src="/themes/custom/esstu/assets/images/examples/pinned-2.jpg" alt="">
			<span>Курсы повышения квалификации</span>
		</a>
		<a href="#" class="pinned-section">
               <img src="/themes/custom/esstu/assets/images/examples/pinned-3.jpg" alt="">
			<span>Профессиональная переподготовка</span>
		</a>
		<a href="#" class="pinned-section">
               <img src="/themes/custom/esstu/assets/images/examples/pinned-4.jpg" alt="">
			<span>Российское профессорское собрание</span>
		</a>
		<a href="#" class="pinned-section">
               <img src="/themes/custom/esstu/assets/images/examples/pinned-5.jpg" alt="">
			<span>Инновационный центр ВСГУТУ</span>
		</a>
		<a href="#" class="pinned-section">
               <img src="/themes/custom/esstu/assets/images/examples/pinned-6.jpg" alt="">
			<span>Электронная библиотека ВСГУТУ</span>
		</a>
		<a href="#" class="pinned-section">
               <img src="/themes/custom/esstu/assets/images/examples/pinned-7.jpg" alt="">
			<span>Студенческая газета "Час пик"</span>
		</a>
	</div>
</div>


